img {
    width: 150px;
    height: 150px;
}

.photo_uploader {
    opacity: 0;
    position: absolute;
}

.photo_uploader_container {
    position: relative;
}

.photo {
    width: 150px;
    height: 150px;
}